body {
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 0 0 14px 0;
}

h3 {
    margin: 6px;
    border-bottom: 1px solid black;
}

canvas {
    position: absolute;
}

.wrapper {
    border: 2px solid black;
    width: 95%;
    padding: 6px;
}

label {
    display: flex;
    margin: 6px;
    justify-content: space-between;
    font-size: medium;
}

.button {
    background: rgb(66, 184, 221);
    color: white;
    border-radius: 10px;
    font-size: large;
    font-weight: 500;
    outline: none;
    width: 100px;
    height: 50px;
}

.active {
    outline: 6px solid yellow;
}

.button:hover {
    background: rgb(46, 163, 199);
}

.button:active {
    background: rgb(11, 63, 79);
}

.saveBtn {
    background: rgb(34, 228, 95);
    color: white;
    position: absolute;
    top: 790px;
    left: 50px;
}

.menuBtn {
    position: absolute;
    top: 50px;
    left: 50px;
}

.propertiesBtn {
    position: absolute;
    top: 50px;
    left: 175px;
}

.builderBtn {
    position: absolute;
    top: 50px;
    left: 300px;
}

.menu {
    background: rgb(211, 238, 247);
    position: absolute;
    padding: 30px;
    top: 125px;
    left: 50px;
    width: 350px;
    height: 600px;
    overflow: scroll;
}

.prop-menu {
    background: rgb(211, 238, 247);
    position: absolute;
    padding: 30px;
    top: 125px;
    left: 50px;
    width: 350px;
}


/* ----- Builder mode ----- */
.builder-mode {
    position: absolute;
    padding: 30px;
    top: 50px;
    left: 50px;
    width: 350px;
}

.builder--builderMenu-content {
    background: rgb(211, 238, 247);
    padding: 26px;
}

.builder--button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    width: 100%;
}

.builder--newStageBtn {
    background: rgb(33, 241, 99);
    color: white;
}

.builder--updateBtn {
    background: rgb(69, 153, 250);
    color: white;
}

.builder--publishBtn {
    background: rgb(248, 52, 166);
    color: white;
}

.builder--playBtn {
    background: rgb(245, 232, 57);
    color: black;
}

.builder--newStageButtonsWrapper {
    margin-top: 6px;
}

.builder--saveBtn {
    background: rgb(69, 153, 250);
    color: white;
    height: 30px;
}

.builder--cancelBtn {
    background: rgb(248, 52, 166);
    color: white;
    height: 30px;
    margin-left: 6px;
}

.builder--newStageDiv {
    /* position: absolute;
    top: 510px;
    left: 50px; */
    width: 300px;
    height: 60px;
    color: white;
    padding: 20px;
}

.builder--tile-selector {
    background: rgb(71, 75, 72);
    color: white;
    padding: 40px 20px;
    position: absolute;
    right: 0;
    height: 100%;
}

.builder--tile-image {
    height: 10vh;
    width: 10vh;
    margin: 1vh;
    overflow: scroll;
}

.removing-tiles:hover {
    cursor: url('../assets/Crosshair_Red.cur'), default;
}

.hidden {
    display: none;
}
